div {
  text-align: center;
  color: #eee;
  background-color: #607d8b;
  padding: 20px 0;
  border-radius: 15px;
}

div:hover {
    background-color: #eee;
    cursor: pointer;
    color: #607d8b;
}
